body{
	font: normal 14px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
/* 1.头部 */
header{
margin:40px;
}
/* 2.主体――注册 */
a{
	text-decoration:none;
	color: #666666;
}
ul,li{
	list-style:none;
}
img{
	vertical-align:bottom;
}
.loginbox{
	position: relative;
	display:flex;
	margin:20px 40px;
	border:#ccc;
	border:1px solid #e7e7e7;
}
.register{
	height:620px;
	border: #e7e7e7 solid;
    border-width: 1px 0 1px 1px;
	box-sizing:border-box;
	padding-top:30px;
}
div.img{
	width:40%;
	text-align:center;
	padding:130px 0;
}
.input-46{
	width:400px;;
	height:46px;
	font-size: 14px;
	color: #666666;
	box-sizing:border-box;
	margin-bottom: 20px;
	padding:7px 6px;
	background-color: #fafafa;
	border: 1px solid #cccccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition:border linear .2s, box-shadow linear .2s;
}
.login_sign01 {
    background: url(../img/register/sign01.png) no-repeat 98% center;
}
.login_sign02 {
    background: url(../img/register/sign02.png) no-repeat 98% center;
}
li{
	position: relative;
}
.error01 {
    position: absolute;
    z-index: 1;
    top: 34px;
    /* left: 0; */
    font-size: 12px;
    display:none;
    background: url(../img/register/sign03.png) no-repeat 5px center #fefaf0;
    border: #ff9900 solid 1px;
    padding: 0 10px 0 24px;
}
img{
	vertical-align:top;
}
.btn{
	width:120px;
	color: #ffffff;
    text-shadow: 0 2px 0 #72b74d;
    background-color: #7cbe56;
    border: 1px solid #67a345;
	border-radius:2px;
	box-sizing:border-box;
	padding: 10px 6px;
    line-height: 24px;
    font-size: 16px;
}
.registered{
	position: absolute;
	right:0;
	bottom:0;
	width:92px;
	height:36px;
	margin:0;
	padding:0;
}
.btn-orange{
    color: #ffffff;
    text-shadow: 0 2px 0 #eeb500;
    background-color: #fabe00;
    border: 1px solid #fabe0;
	display: inline-block;
    padding: 7px 17px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
}
button.block{
	font-weight:bold;
	width:400px;;
}

/* 3.底部 */
footer {
    font-size: 12px;
	color: #999999;
    line-height: 2;
    text-align: center;
    margin: 30px 0;
}
footer > div > a{
	color: #999999;
}
footer div a:hover{
	text-decoration:underline;
}